.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* width: calc(100% - 200px); */
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:center;
        margin-top: 2rem;
        width: 100%;
        /* width: calc(100% - 20rem); */
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}