.small-image {
    object-fit: cover;
    object-position: top;
    height: 300px;
    /* width: 264px; */
    transition: transform 0.5s; 
}

.small-image:hover{
    transform: scale(1.05);
}

.card{
    box-shadow: 5px 5px 15px rgb(173, 171, 171);
}